{
  "$schema": "http://json.schemastore.org/eslintrc",
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "fp",
    "import",
    "jsx-a11y",
    "prettier",
    "prefer-arrow",
    "jest",
    "sort-keys-fix",
    "standard",
    "unicorn"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:unicorn/recommended",
    "standard",
    "prettier",
    "prettier/standard"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "comma-dangle": "off",
    "no-duplicate-imports": "off",
    "indent": "off",
    "no-case-declarations": "off",
    "no-unexpected-multiline": "off",
    "no-console": [
      "warn",
      {
        "allow": ["error", "warn"]
      }
    ],
    "quotes": ["error", "single"],
    "import/default": "off",
    "import/no-duplicates": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "@typescript-eslint/prefer-nullish-coalescing": "error",
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "@typescript-eslint/unbound-method": "off",
    "fp/no-arguments": "error",
    "fp/no-class": "error",
    "fp/no-delete": "error",
    "fp/no-events": "error",
    "fp/no-get-set": "error",
    "fp/no-let": "error",
    "fp/no-loops": "error",
    "fp/no-mutating-assign": "error",
    "fp/no-mutating-methods": "error",
    "fp/no-mutation": [
      "error",
      {
        "commonjs": true
      }
    ],
    "fp/no-proxy": "error",
    "fp/no-rest-parameters": "off",
    "fp/no-this": "error",
    "fp/no-throw": "error",
    "fp/no-valueof-field": "error",
    "jsx-a11y/label-has-associated-control": "off",
    "prettier/prettier": "error",
    "prefer-arrow/prefer-arrow-functions": [
      "error",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ],
    "sort-keys-fix/sort-keys-fix": "error",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ],
    "unicorn/prevent-abbreviations": "off",
    "@typescript-eslint/naming-convention": 0
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/internal-regex": "^(src|api)",
    "import/resolver": {
      "typescript": {
        "directory": "./"
      }
    }
  },
  "overrides": [
    {
      "files": ["next-env.d.ts"],
      "rules": {
        "unicorn/filename-case": "off"
      }
    },
    {
      "files": ["*.stories.ts"],
      "rules": {
        "@typescript-eslint/ban-ts-ignore": "off"
      }
    },
    {
      "files": ["postcss.config.js"],
      "rules": {
        "import/order": "off"
      }
    },
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
