/* purgecss start ignore */
@import './colors.css';
@tailwind base;
@tailwind components;

* {
  scrollbar-width: none;
}

html {
  font: 14px/1.5;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html,
body {
  @apply bg-gray-700;
}
/* purgecss-end-ignore */

@tailwind utilities;
@tailwind screens;
@import './custom-utilities.css';
