/* purgecss start ignore */
.select-container {
  @apply mx-2;
  min-width: 10rem;
  flex-grow: 1;
  max-width: 12rem;
  .select__control {
    @apply bg-gray-700 border-none;
    &:hover {
      @apply bg-gray-500;
    }
  }
  .select__value-container {
    flex-wrap: nowrap;
  }
  .select__option--is-focused {
    background-color: rgba(white, 0.04);
  }
  .select__option--is-selected {
    background-color: rgba(white, 0.1);
    &:active {
      background-color: rgba(white, 0.2);
    }
  }
  .select__single-value {
    @apply text-gray-200 leading-normal;
  }
  .select__control--menu-is-open .select__indicator {
    transform: rotate(180deg);
  }
  .select__dropdown-indicator {
    @apply text-gray-400 transition-transform;
    &:hover {
      @apply text-gray-300;
    }
  }
  .select__input {
    @apply text-white;
  }

  .select__menu {
    @apply bg-gray-700;
  }
  .select__indicator-separator {
    @apply bg-gray-500;
  }
  .select__option {
    @apply text-white cursor-pointer p-2 px-3;
    &:focus,
    &:hover {
      @apply bg-gray-600;
    }
    &:active {
      background-color: rgba(white, 0.2);
    }
  }
}
/* purgecss end ignore */
