/* purgecss-start-ignore */
.rfs-select-container {
  min-width: 8rem;
  max-width: 12rem;
  @apply mx-2 flex-grow text-gray-200;
}
.rfs-select-container:focus,
.rfs-select-container:hover .rfs-control-container {
  @apply border-blue;
}

.rfs-select-container input {
  margin-left: 1.2em;
}
.rfs-select-container .rfs-control-container {
  border-color: transparent;
  @apply bg-gray-700 shadow-none flex-grow;
}
